.boardContainer {
  display: grid;
  gap: 0;
  height: fit-content;
  width: 450px;
}

.square {
  border: 0.1px solid black;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.selected {
  background-color: beige;
}
.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.topBorder {
  border-top: 2px solid black;
}

.bottomBorder {
  border-bottom: 3px solid black;
}

.leftBorder {
  border-left: 2px solid black;
}

.rightBorder {
  border-right: 3px solid black;
}

.guessButtons {
  display: flex;
  width: 450px;
}
.guess {
  width: 50px;
  height: 50px;
}

.selectedSquare {
  background-color: rgb(229, 229, 229);
}

.incorrect {
  background-color: #fc1c1c; /* Light red background */
}
